PORT=8080
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/flypnp
CLIENT_URL=http://localhost:5173

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_MODE=test
STRIPE_SUCCESS_URL=http://localhost:5173/
STRIPE_CANCEL_URL=http://localhost:5173/
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7
GOOGLE_CLIENT_ID=

APP_NAME=Flypnp
RESEND_API_KEY=
EMAIL_FROM=Flypnp <notifications@example.com>
EMAIL_REPLY_TO=support@example.com
EMAIL_WORKER_INTERVAL_MS=30000
